{% extends "header.html" %}
{% block body %}
{% if session['logged_in'] %}
<p>Logged in</p>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            ONE
        </div>
        <div class="col-xs-6">
            TWO
        </div>
    </div>
</div>


<form action="/submit" method="POST">
        <div class="workeravailability">
                <div class="workeravailability-screen">
                        <div class="app-title">
                                <h1>Worker Availability</h1>
                        </div>

                        <div class="row">
                          <div class="block">
                          <h4>Monday</h4>
                          <label class="checkbox-inline">
                            <input type="checkbox" value=""> Early
                            <input type="checkbox" value=""> Late
                          </label>
                        </div>

                        <div class="block">
                          <h4>Tuesday</h4>
                          <label class="checkbox-inline">
                            <input type="checkbox" value=""> Early
                            <input type="checkbox" value=""> Late
                          </label>
                        </div>
                      </div>
                          <h4>Wednesday</h4>
                          <label class="checkbox-inline">
                            <input type="checkbox" value=""> Early
                            <input type="checkbox" value=""> Late
                          </label>

                          <h4>Thursday</h4>
                          <label class="checkbox-inline">
                            <input type="checkbox" value=""> Early
                            <input type="checkbox" value=""> Late
                          </label>

                          <h4>Friday</h4>
                          <label class="checkbox-inline">
                            <input type="checkbox" value=""> Early
                            <input type="checkbox" value=""> Late
                          </label>

                          <h4>Saturday</h4>
                          <label class="checkbox-inline">
                            <input type="checkbox" value=""> Early
                            <input type="checkbox" value=""> Late
                          </label>

                          <h4>Sunday</h4>
                          <label class="checkbox-inline">
                            <input type="checkbox" value=""> Early
                            <input type="checkbox" value=""> Late
                          </label>

                <input type="submit" value="Submit Availability" class="btn btn-primary btn-large btn-block" >
                <input type="submit" value="Back" class="btn btn-primary btn-large btn-block" href="templates/landing.html " >
                        </div>
                </div>
        </div>
</form>

{% endif %}
{% endblock %}
