{% extends "header.html" %}
{% block body %}
{% if session['logged_in'] %}
<p>Logged in</p>
{% else %}
<form action="/submit/" method="POST">
        <div class="workeravailability">
                <div class="workeravailability-screen">
                        <div class="app-title">
                                <h1>Worker Availability</h1>
                        </div>

                        <div class="row">
                          <div class="block">
                            <h4>NAME</h4>
                            <p>{{ usern }}</p>
                            </div>
                          <div class="block">
                          <h4>Monday</h4>
                          <label class="checkbox-inline">
                            <input type="checkbox" value="mon_early"> Early
                            <input type="checkbox" value="mon_late"> Late
                          </label>
                        </div>

                        <div class="block">
                          <h4>Tuesday</h4>
                          <label class="checkbox-inline">
                            <input type="checkbox" value="tue_early"> Early
                            <input type="checkbox" value="tue_late"> Late
                          </label>
                        </div>

                    <div class="block">
                          <h4>Wednesday</h4>
                          <label class="checkbox-inline">
                            <input type="checkbox" value="wed_early"> Early
                            <input type="checkbox" value="wed_late"> Late
                          </label>
                      </div>
                      <div class="block">
                          <h4>Thursday</h4>
                          <label class="checkbox-inline">
                            <input type="checkbox" value="thur_early"> Early
                            <input type="checkbox" value="thur_late"> Late
                          </label>
                        </div>
                        <div class="block">
                          <h4>Friday</h4>
                          <label class="checkbox-inline">
                            <input type="checkbox" value="fri_early"> Early
                            <input type="checkbox" value="fri_late"> Late
                          </label>
                          </div>
                          <div class="block">
                          <h4>Saturday</h4>
                          <label class="checkbox-inline">
                            <input type="checkbox" value="sat_early"> Early
                            <input type="checkbox" value="sat_late"> Late
                          </label>
                          </div>
                          <div class="block">
                          <h4>Sunday</h4>
                          <label class="checkbox-inline">
                            <input type="checkbox" value="sun_early"> Early
                            <input type="checkbox" value="sun_late"> Late
                          </label>
                          </div>

                <input type="submit" value="Submit Availability" class="btn btn-primary btn-large btn-block" >
                <input type="submit" value="Back" class="btn btn-primary btn-large btn-block" href="templates/landing.html " >

                        </div>
                </div>
        </div>
</form>
{% endif %}
{% endblock %}
