<html>
<head>


  <title>Clockwork</title>
  <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">

  <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="static/js/bootstrap.bundle.min.js"></script>
  <script defer src="/static/fontawesome/fontawesome-all.js"></script>
  <script src="static/js/bootstrap.bundle.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="static/js/bootstrap.js"></script>

</head>

{% if session.get('status', None) == "admin": %}
<div class="row">
  <div class=col>
  </div>
  <div class=col>
    <h4 style="text-align:center; background-color:#2980B9; background-border:solid;">Admin Logged In</h4>
  </div>
  <div class=col>
  </div>
</div>
{% endif %}

{% if session.get('status', None) == "User": %}
    <h3>user</h3>
{% endif %}
<body>
  <!doctype html>
  <title>Placement webiste</title>
  <div class="container" align="center"> <!-- style="min-height:100%" -->
   {% with messages = get_flashed_messages() %}
     {% if messages %}
       {% for message in messages %}
         <div class="alert alert-warning alert-dismissible" role="alert">
           <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           {{message}}
         </div>
       {% endfor %}
     {% endif %}
   {% endwith %}
 </div>


{% block body %}
<!--Keep Empty, this is where the content from each page will be held !-->
{% endblock %}
</body>


<!--This creates the footer, it works however also looks horrible but thats not the most pressing issue right now !-->

<div class="footer" style="background-color:lightgrey; padding-top:1%; margin-top:1%;">
    <div class="container">
      <div class="row">
        <div class="col-sm" style="text-align:center;">
          <p>{{ Type }}</p>
          <p class="text-muted">
          <a class="text-muted" href="/">Home</a>
            //
          <a class="text-muted"href="/about">About</a>
        </p>
        </div>
        <div class="col-sm" style="text-align:center;">
          {% if session.get('status', None) == "user": %}
            <a href="/logout" class ="btn btn-secondary"  style="margin-top:-1.8%;">Logout</a>
          {% endif %}
        </div>
      </div>
    </div>
</div>





</html>
