{% extends "header.html" %}
{% block body %}
<head>
  <title>Clockwork</title>
</head>


<div class="container-fluid">
    <div class="col-md-3 col-md-offset-3 text-right">
       <h1 class="display-1">     Clockwork</h1>
    </div>
</div>

<div class="pull-right">
<input type="submit" value="Log in" class="btn pull-right btn-primary btn-large btn-block href="templates/login.html " >
</div>
<div class="pull-left">
<input type="submit" value="Register" class="btn pull-left btn-primary btn-large btn-block href="templates/register.html" >
</div>

{% endblock %}

