{% extends "header.html" %}
{% block body %}
<head>
  <title>Clockwork</title>
</head>

<div class="titlef">
  <div class="container-fluid">
        <h1 class="display-1" align="center">Clockwork</h1>
  </div>
</div>
<div style="text-align:center;">
    <img src="static/images/clock.png" alt="logo" height="10%">
</div>
<div class="centre">
  <div class="row top top-buffer2">
    <div class="container-fluid">
          <p class="text-center">Clockwork is a schedule generation system developed in Python using Google's or tools and the Bootstrap library. Clockwork provides multiple selection, crossover and mutation operators which can be combined to examine the combination that is most effective. </p>
    </div>
  </div>
</div>

<div class="row top top-buffer">
  <div class="pull-right">
  <a href="/login_page" class ="btn btn-primary"  style="margin-top:-1.8%;">Login</a>
  </div>

  <div class="pull-left">
  <a href="/register_page" class ="btn btn-primary"  style="margin-top:-1.8%;">Register</a>
  </div>
</div>

{% endblock %}
